[core]
	excludesfile 	  = ~/.config/git/gitignore
	attributesFile    = ~/.config/git/gitattributes

[init]
	defaultBranch = main
	templateDir   = ~/.config/git/template

[github]
	user            = Gary-Ash

[commit]
	template = /Users/garyash/.config/git/gitmessage

[user]
	email      = gary.ash@icloud.com

