<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Package.swift</key>
		<dict>
			<key>Path</key>
			<string>Package.swift</string>
		</dict>
		<key>Tests/___VARIABLE_productName___Tests/___VARIABLE_productName___Tests.swift</key>
		<dict>
			<key>Path</key>
			<string>Tests/___VARIABLE_productName___Tests/___VARIABLE_productName___Tests.swift</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>A Swift Package providing a multiplatform unit test module targeting all Apple platforms using Swift Testing.</string>
	<key>Identifier</key>
	<string>com.garyash.dt.unit.multiplatformUnitTestModule</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Package.swift</string>
		<string>Tests/___VARIABLE_productName___Tests/___VARIABLE_productName___Tests.swift</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>MultiplatformTests</string>
			<key>Description</key>
			<string>The name of your test module</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
		<string>com.apple.platform.appletvos</string>
		<string>com.apple.platform.watchos</string>
		<string>com.apple.platform.xros</string>
	</array>
	<key>SortOrder</key>
	<integer>100</integer>
</dict>
</plist>
