<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleScriptSourceAttributes</key>
	<array>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4AAAD8Ag4AAAD8Bhg==
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTiEBVs1NmNdBgAAADAAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AUgBlAGcAdQBsAGEAcgCEAWYMhAFj
			AJgBmACYAIY=
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAAAAYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTiEBVs1NmNdBgAAADAAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AUgBlAGcAdQBsAGEAcgCEAWYMhAFj
			AJgBmACYAIY=
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAAAAYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAABAYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg5qYmT6DnPCbPoOc8Js+AYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTiEBVs1NmNdBgAAAC4AAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0ASQB0AGEAbABpAGMAAACEAWYMhAFj
			AJgBmACYAIY=
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAAAAYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTiEBVs1NmNdBgAAADAAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AUgBlAGcAdQBsAGEAcgCEAWYMhAFj
			AJgBmACYAIY=
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4AAgD6DgAAAPwABhg==
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTiEBVs1NmNdBgAAADAAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AUgBlAGcAdQBsAGEAcgCEAWYMhAFj
			AJgBmACYAIY=
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAAAAYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTiEBVs1NmNdBgAAADAAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AUgBlAGcAdQBsAGEAcgCEAWYMhAFj
			AJgBmACYAIY=
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAABAYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAABAYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAABAYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4XD2D6Dy8qWPIMvDVQ/AYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4XD2D6Dy8qWPIMvDVQ/AYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTiEBVs1NmNdBgAAADAAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AUgBlAGcAdQBsAGEAcgCEAWYMhAFj
			AJgBmACYAIY=
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIOxSLE9g7GaMD8Bhg==
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIOxSLE9g7GaMD8Bhg==
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIOxSLE9g7GaMD8Bhg==
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4jyhz6DqUCpPYOxDTE/AYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>NSColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4jyhz6DqUCpPYOxDTE/AYY=
			</data>
			<key>NSFont</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmpl
			Y3QAhYQBaTSEBVs1MmNdBgAAACoAAAD//lAAcgBhAGcAbQBhAHQA
			YQBQAHIAbwBMAGkAZwBhAC0AQgBvAGwAZAAAAIQBZgyEAWMAmAGY
			AJgAhg==
			</data>
			<key>RosieTokenAttributeName</key>
			<integer>17</integer>
		</dict>
	</array>
	<key>ApplicationMap</key>
	<dict>
		<key>Bartender 4</key>
		<string>file:///Applications/Bartender%205.app/</string>
		<key>Keyboard Maestro Engine</key>
		<string>file:///Applications/Keyboard%20Maestro.app/</string>
		<key>Moom</key>
		<string>file:///Applications/Moom%20Classic.app/</string>
		<key>SnippetsLabLab</key>
		<string>file:///Applications/SnippetsLab.app</string>
		<key>SnippetsLabs</key>
		<string>file:///Applications/SnippetsLab.app</string>
		<key>System Events</key>
		<string>file:///System/Library/CoreServices/System%20Events.app/</string>
		<key>System Events.app</key>
		<string>file:///System/Library/CoreServices/System%20Events.app/</string>
		<key>myAppName to launchon idle	tell application </key>
		<string>file:///System/Applications/Utilities/Terminal.app/</string>
	</dict>
</dict>
</plist>
