<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleICUDateFormatStrings</key>
	<dict>
		<key>1</key>
		<string>d-MMM-y</string>
	</dict>
	<key>AppleICUTimeFormatStrings</key>
	<dict>
		<key>1</key>
		<string>h:mma</string>
	</dict>
	<key>DVTConvertExistingFilesLineEndings</key>
	<true/>
	<key>DVTDeveloperAccountManagerAppleIDLists</key>
	<dict>
		<key>IDE.Identifiers.Prod</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>A5AAFAD6-F9AC-4EC8-A438-C8AD629EAA66</string>
			</dict>
		</array>
	</dict>
	<key>DVTDeviceVisibilityPreferences</key>
	<dict>
		<key>0FB4AC70-D57E-4C5A-BFDD-3141D4CECA4A</key>
		<integer>1</integer>
	</dict>
	<key>DVTDevicesWindowControllerSelectedDeviceIdentifier</key>
	<string>00008130-001835D622A0001C</string>
	<key>DVTDevicesWindowControllerSelectedSimulatorIdentifier</key>
	<string>CD8D1F09-7309-40B5-BF30-7A5A8EA22E9A-mobiledevice</string>
	<key>DVTDisclosureViewDisclosedStates</key>
	<dict/>
	<key>DVTFontAndColorLastUpdatedToolsVersion</key>
	<string>16.0</string>
	<key>DVTSourceControlAccountDefaultsKey</key>
	<array>
		<dict>
			<key>DVTSourceControlAccountAuthTypeKey</key>
			<integer>4</integer>
			<key>DVTSourceControlAccountNameKey</key>
			<string>ViewInspector-8f6ae9a2</string>
			<key>DVTSourceControlAccountSSHKeyPath</key>
			<string>/Users/garyash/.ssh/id_ed25519</string>
			<key>DVTSourceControlAccountURLKey</key>
			<string>/Users/garyash/Library/Developer/Xcode/DerivedData/Mastermind-azhbijibhhmexcfnavzqwfrewwie/SourcePackages/repositories/ViewInspector-8f6ae9a2</string>
			<key>DVTSourceControlAccountUsernameKey</key>
			<string>git</string>
			<key>DVTSourceControlRepositoryIdentifierKey</key>
			<string>FCB43FE122049DA286C9C8F08A2C1CDDB37FA8B9</string>
			<key>DVTSourceControlSystemIdentifierKey</key>
			<string>com.apple.dt.Xcode.sourcecontrol.Git</string>
		</dict>
		<dict>
			<key>DVTSourceControlAccountAuthTypeKey</key>
			<integer>4</integer>
			<key>DVTSourceControlAccountNameKey</key>
			<string>ViewInspector-8f6ae9a2</string>
			<key>DVTSourceControlAccountSSHKeyPath</key>
			<string>/Users/garyash/.ssh/id_ed25519</string>
			<key>DVTSourceControlAccountURLKey</key>
			<string>/Users/garyash/Library/Developer/Xcode/DerivedData/Mastermind-azhbijibhhmexcfnavzqwfrewwie/SourcePackages/repositories/ViewInspector-8f6ae9a2</string>
			<key>DVTSourceControlAccountUsernameKey</key>
			<string>git</string>
			<key>DVTSourceControlRepositoryIdentifierKey</key>
			<string>FCB43FE122049DA286C9C8F08A2C1CDDB37FA8B9</string>
			<key>DVTSourceControlSystemIdentifierKey</key>
			<string>com.apple.dt.Xcode.sourcecontrol.Git</string>
		</dict>
	</array>
	<key>DVTTextAlignConsecutiveSlashSlashComments</key>
	<true/>
	<key>DVTTextAutoSuggestCompletions</key>
	<true/>
	<key>DVTTextEditorTrimWhitespaceOnlyLines</key>
	<true/>
	<key>DVTTextEditorWrapsLines</key>
	<false/>
	<key>DVTTextEnablePredictiveCompletion</key>
	<true/>
	<key>DVTTextFadeCommentDelimiters</key>
	<false/>
	<key>DVTTextFadeMarkupDelimiters</key>
	<false/>
	<key>DVTTextIndentOnPaste</key>
	<true/>
	<key>DVTTextIndentUsingTabs</key>
	<true/>
	<key>DVTTextOverscrollAmount</key>
	<real>0.5</real>
	<key>DVTTextPageGuideLocation</key>
	<integer>120</integer>
	<key>DVTTextReformatGeneratedCode</key>
	<true/>
	<key>DVTTextShowAuthors</key>
	<false/>
	<key>DVTTextShowFoldingSidebar</key>
	<true/>
	<key>DVTTextShowInvisibleCharacters</key>
	<false/>
	<key>DVTTextShowPageGuide</key>
	<false/>
	<key>GTFPreference_heightOfActionEditorArea</key>
	<real>288</real>
	<key>GTFPreference_timeScaleSliderPosition</key>
	<real>0.5</real>
	<key>GTFPreference_widthOfNodeOverviewArea</key>
	<real>148</real>
	<key>IBAppliesAutoResizingRulesWhileResizing</key>
	<false/>
	<key>IBICImageStackDisplayScale</key>
	<string>2x</string>
	<key>IBPreferencesMigrated</key>
	<true/>
	<key>IDEActivityLogShowsAllBuildSteps</key>
	<true/>
	<key>IDEActivityLogShowsAnalyzerResults</key>
	<true/>
	<key>IDEActivityLogShowsErrors</key>
	<true/>
	<key>IDEActivityLogShowsWarnings</key>
	<true/>
	<key>IDEAdditionalCounterpartSuffixes</key>
	<array>
		<string>ViewModel</string>
		<string>View</string>
		<string>Screen</string>
		<string>ViewModel</string>
		<string>View</string>
		<string>Screen</string>
	</array>
	<key>IDEAnalyticsMetricsNotifications.AnalyticsMetricsNotificationsController.lastRefreshAttemptDate</key>
	<date>2026-02-03T02:44:06Z</date>
	<key>IDEAppStatisticsRunDestinationPlatform</key>
	<dict>
		<key>appletvos</key>
		<true/>
		<key>appletvsimulator</key>
		<true/>
		<key>iphoneos</key>
		<true/>
		<key>iphonesimulator</key>
		<true/>
		<key>macosx</key>
		<true/>
	</dict>
	<key>IDEAppStoreProductSourceRateLimiter</key>
	<dict>
		<key>DVTUserDefaultsCachingCache</key>
		<dict>
			<key>App Store Product Source Accounts: 9CF43D67-D21F-44C2-A730-AA112E1AACF2</key>
			<date>2025-11-10T01:52:27Z</date>
			<key>App Store Product Source Accounts: A5AAFAD6-F9AC-4EC8-A438-C8AD629EAA66</key>
			<date>2026-01-02T19:50:55Z</date>
		</dict>
		<key>DVTUserDefaultsCachingKeysRecentlyUsed</key>
		<array>
			<string>App Store Product Source Accounts: 9CF43D67-D21F-44C2-A730-AA112E1AACF2</string>
			<string>App Store Product Source Accounts: A5AAFAD6-F9AC-4EC8-A438-C8AD629EAA66</string>
		</array>
	</dict>
	<key>IDEBuildLocationStyle</key>
	<string>Unique</string>
	<key>IDEBuildingContinueBuildingAfterErrors</key>
	<true/>
	<key>IDEChatCurrentErrorsContextEnabled</key>
	<true/>
	<key>IDEChatIsBuiltInClaudeEnabled</key>
	<true/>
	<key>IDEDisableGitSupportForNewProjects</key>
	<true/>
	<key>IDEDocSearchSelectedReferenceIdentifier</key>
	<string>swift</string>
	<key>IDEDocumentationIndexedStoreLastAccessed</key>
	<real>776369156.25833797</real>
	<key>IDEEditorCoordinatorPinEditorTabs</key>
	<string>whenCreated</string>
	<key>IDEExtensionsBuiltPriorToXcode12</key>
	<array/>
	<key>IDEFileExtensionDisplayMode</key>
	<integer>1</integer>
	<key>IDEFoundation.SigningEditorCapsuleViewStateRestorationManager.collapsedViewControllersCache</key>
	<dict>
		<key>DVTUserDefaultsCachingCache</key>
		<dict>
			<key>2666401038241062064</key>
			<true/>
		</dict>
		<key>DVTUserDefaultsCachingKeysRecentlyUsed</key>
		<array>
			<string>2666401038241062064</string>
		</array>
	</dict>
	<key>IDEHasConvertedXcode3BuildPrefs</key>
	<true/>
	<key>IDEKeyBindingCurrentPreferenceSet</key>
	<string>Default.idekeybindings</string>
	<key>IDEKeyBindingExcludedPreferenceSet</key>
	<array>
		<string>Default</string>
	</array>
	<key>IDELanguageModelSelectedDuringFirstLaunch</key>
	<true/>
	<key>IDELastLSRegisterHashes</key>
	<dict>
		<key>/Applications/Xcode.app/Contents/Applications/Accessibility Inspector.app</key>
		<data>
		17NRgCDS9L9x+3wGRSmTohPSjeE=
		</data>
		<key>/Applications/Xcode.app/Contents/Applications/FileMerge.app</key>
		<data>
		tVYR+tZ05T+0p0qyfOyjkPGdv5A=
		</data>
		<key>/Applications/Xcode.app/Contents/Applications/Icon Composer.app</key>
		<data>
		9ihC4h/t1ctYMHlV6Cxnysfhp+k=
		</data>
		<key>/Applications/Xcode.app/Contents/Applications/Instruments.app</key>
		<data>
		kZ312Uc/ZEDpa6S9OaHQDIptZew=
		</data>
		<key>/Applications/Xcode.app/Contents/Applications/Reality Composer Pro.app</key>
		<data>
		QpMgwiN3VUgoIEM51Aja57PC9jk=
		</data>
		<key>/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app</key>
		<data>
		FzlDWQuyjTV5Q9MGLrHcg1d76Es=
		</data>
		<key>/System/Library/CoreServices/CoreTypes.bundle</key>
		<data>
		PzMBJr9jEb9E886rfnvxzm+sEc0=
		</data>
	</dict>
	<key>IDELastShownWhatsNewContentRevision</key>
	<integer>4</integer>
	<key>IDELastViewedSettingsPane</key>
	<string>Navigation</string>
	<key>IDELibraryWindowController-With-Details.height</key>
	<real>449</real>
	<key>IDELibraryWindowController-With-Details.location</key>
	<dict>
		<key>horizontal</key>
		<dict>
			<key>anchor</key>
			<integer>1</integer>
			<key>distance</key>
			<real>-0.00019531250000000001</real>
		</dict>
		<key>vertical</key>
		<dict>
			<key>anchor</key>
			<integer>1</integer>
			<key>distance</key>
			<real>0.24963609898107714</real>
		</dict>
	</dict>
	<key>IDELibraryWindowController-With-Details.width</key>
	<real>681</real>
	<key>IDELocalizationEditorLatestHiddenColumns</key>
	<array/>
	<key>IDELogNavigatorGroupByKey</key>
	<false/>
	<key>IDEMetalToolchainSelectedDuringFirstLaunch</key>
	<true/>
	<key>IDEModelAccessHasUserConsentForOnDeviceInteractions</key>
	<true/>
	<key>IDEOmnibar.location</key>
	<dict>
		<key>horizontal</key>
		<dict>
			<key>anchor</key>
			<integer>1</integer>
			<key>distance</key>
			<real>0.0</real>
		</dict>
		<key>vertical</key>
		<dict>
			<key>anchor</key>
			<integer>2</integer>
			<key>distance</key>
			<real>0.24163027656477437</real>
		</dict>
	</dict>
	<key>IDEOmnibar.width</key>
	<real>560</real>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-appletvos</key>
	<array>
		<string>23K50</string>
		<string>23J576</string>
		<string>23J352</string>
		<string>22L572</string>
		<string>22L251</string>
		<string>22K152</string>
		<string>22J572</string>
	</array>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-iphoneos</key>
	<array>
		<string>23C53</string>
		<string>23B77</string>
		<string>23A339</string>
		<string>22F76</string>
		<string>22E235</string>
		<string>22C146</string>
		<string>22B74</string>
	</array>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-macosx</key>
	<array>
		<string>25C57</string>
		<string>25B74</string>
		<string>25A352</string>
		<string>24F74</string>
		<string>24E241</string>
		<string>24C94</string>
		<string>24B75</string>
	</array>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-watchos</key>
	<array>
		<string>23S303</string>
		<string>23S34</string>
		<string>23R351</string>
		<string>22T572</string>
		<string>22T246</string>
		<string>22S97</string>
		<string>22R574</string>
	</array>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-xros</key>
	<array>
		<string>23N301</string>
		<string>23N45</string>
		<string>23M336</string>
		<string>22O473</string>
		<string>22O233</string>
		<string>22N799</string>
		<string>22N573</string>
	</array>
	<key>IDEPlatformsFirstLaunchSelected-appletvos</key>
	<true/>
	<key>IDEPlatformsFirstLaunchSelected-iphoneos</key>
	<true/>
	<key>IDEPlatformsFirstLaunchSelected-watchos</key>
	<true/>
	<key>IDEPlatformsFirstLaunchSelected-xros</key>
	<false/>
	<key>IDEProductsUISelectedInspector</key>
	<integer>8320407991209730260</integer>
	<key>IDEProductsViewControllerSelectedProductIdentifier</key>
	<dict>
		<key>bundleIdentifier</key>
		<string>com.geedbla.XcodeGeeDblA</string>
		<key>productCategory</key>
		<string>ProductCategory_MacApp</string>
		<key>productIdentifierType</key>
		<integer>0</integer>
	</dict>
	<key>IDEProductsViewControllerSourceListSplitPosition</key>
	<real>215</real>
	<key>IDEProfileActionSelectedTab</key>
	<string>Info</string>
	<key>IDEProvisioningTeamByIdentifier</key>
	<dict>
		<key>A5AAFAD6-F9AC-4EC8-A438-C8AD629EAA66</key>
		<array>
			<dict>
				<key>isFreeProvisioningTeam</key>
				<false/>
				<key>teamID</key>
				<string>H46K66JBHS</string>
				<key>teamName</key>
				<string>Gary Ash</string>
				<key>teamType</key>
				<string>Individual</string>
			</dict>
		</array>
	</dict>
	<key>IDEReadOnlyItemsManagerAutomaticallyUnlockFiles</key>
	<true/>
	<key>IDERunSheetController_UIState</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVTdGF0ZYABrAsMFxgZHyAhKC4vMFUkbnVs
	bNMNDg8QExZXTlMua2V5c1pOUy5vYmplY3RzViRjbGFzc6IREoACgAOiFBWABIAIgAtf
	EBVJREVSdW5TaGVldENvbnRyb2xsZXJfEBhTZWxlY3RlZERldGFpbENvbnRyb2xsZXLT
	DQ4PGhweoRuABaEdgAaAB18QGHNlbGVjdGVkU2NoZW1lQWN0aW9uTmFtZVNSdW7SIiMk
	JVokY2xhc3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxlRGljdGlvbmFyeaMkJidcTlNE
	aWN0aW9uYXJ5WE5TT2JqZWN00w0ODykrHqEqgAmhLIAKgAdfEBVTZWxlY3RlZFRhYklk
	ZW50aWZpZXJbRGlhZ25vc3RpY3PSIiMmMaImJwAIABEAGgAkACkAMgA3AEkATABSAFQA
	YQBnAG4AdgCBAIgAiwCNAI8AkgCUAJYAmACwAMsA0gDUANYA2ADaANwA9wD7AQABCwEU
	ASoBLgE7AUQBSwFNAU8BUQFTAVUBbQF5AX4AAAAAAAACAQAAAAAAAAAyAAAAAAAAAAAA
	AAAAAAABgQ==
	</data>
	<key>IDESourceControlHostAccounts_10</key>
	<array>
		<dict>
			<key>AccountName</key>
			<string>Bitbucket Cloud</string>
			<key>Authentication</key>
			<dict>
				<key>Type</key>
				<string>Basic</string>
			</dict>
			<key>CloneType</key>
			<integer>1</integer>
			<key>ExtensionIdentifier</key>
			<string>com.apple.dt.BitbucketHostBuiltInExtension</string>
			<key>HostURL</key>
			<string>https://bitbucket.org</string>
			<key>SSHKeyPath</key>
			<string>/Users/garyash/.ssh/id_ed25519</string>
			<key>SSHKeyUsername</key>
			<string>git</string>
			<key>Username</key>
			<string>Gary-Ash</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>GitHub</string>
			<key>Authentication</key>
			<dict>
				<key>Type</key>
				<string>Basic</string>
			</dict>
			<key>CloneType</key>
			<integer>1</integer>
			<key>ExtensionIdentifier</key>
			<string>com.apple.dt.GitHubHostBuiltInExtension</string>
			<key>HostURL</key>
			<string>https://github.com</string>
			<key>SSHKeyPath</key>
			<string>/Users/garyash/.ssh/id_ed25519</string>
			<key>SSHKeyUsername</key>
			<string>git</string>
			<key>Username</key>
			<string>Gary-Ash</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>GitLab</string>
			<key>Authentication</key>
			<dict>
				<key>Type</key>
				<string>Basic</string>
			</dict>
			<key>CloneType</key>
			<integer>1</integer>
			<key>ExtensionIdentifier</key>
			<string>com.apple.dt.GitLabHostBuiltInExtension</string>
			<key>HostURL</key>
			<string>https://gitlab.com</string>
			<key>SSHKeyPath</key>
			<string>/Users/garyash/.ssh/id_ed25519</string>
			<key>SSHKeyUsername</key>
			<string>git</string>
			<key>Username</key>
			<string>Gary-Ash</string>
		</dict>
	</array>
	<key>IDESourceControlModernKnownSSHHostsDefaultsKey</key>
	<dict/>
	<key>IDESourceControlPreferencesVersion</key>
	<integer>201</integer>
	<key>IDESourceControlShowUpstreamChangesInChangeBar</key>
	<true/>
	<key>IDESourceControlWarnUncommittedChangesDefaultsKey</key>
	<false/>
	<key>IDESourceTreeDisplayNames</key>
	<dict/>
	<key>IDEStringCatalogAutomaticCommentGenerationEnabled</key>
	<true/>
	<key>IDESwiftPackageCollectionsAddedDefaultCollectionsDVTToolsVersion</key>
	<string>Xcode 26.1.1</string>
	<key>IDETestActionSelectedTab</key>
	<string>Info</string>
	<key>IDEWindowTabsHaveIndependentSidebarWidths</key>
	<true/>
	<key>IDEWorkspaceSuppressCleanBuildPrompt</key>
	<true/>
	<key>IDEXcodeDeviceSupportLastNotified-16C5032a</key>
	<string>16C7015</string>
	<key>IDEXcodeDeviceSupportLastNotified-17A400</key>
	<string>17B48</string>
	<key>IDE_CA_Daily_LanguageModel</key>
	<string>enabled,usable</string>
	<key>IDE_CA_Daily_UsedScriptingAPI</key>
	<true/>
	<key>LastExplicitInspectorVisibility</key>
	<true/>
	<key>NSColorPanelMode</key>
	<string>1</string>
	<key>NSColorPickerPreferredRGBEntryMode</key>
	<integer>2</integer>
	<key>NSColorPickerSlidersDefaults</key>
	<string>1</string>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{1258, 928}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{1074, 855}</string>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 228.000000, 315.000000, NO, NO</string>
		<string>0.000000, 316.000000, 228.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames com.apple.dt.Xcode.DevicesWidow.DevicesSplit</key>
	<array>
		<string>0.000000, 0.000000, 230.000000, 700.000000, NO, NO</string>
		<string>230.000000, 0.000000, 954.000000, 700.000000, NO, NO</string>
	</array>
	<key>NSTableView Columns v3 PlistColumns</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxARCwwUHyAhIiMkJSs1NjdB
	QkNVJG51bGzSDQ4PE1pOUy5vYmplY3RzViRjbGFzc6MQERKAAoAKgA2AENMVDQ4WGh5X
	TlMua2V5c6MXGBmAA4AEgAWjGxwdgAaAB4AIgAlaSWRlbnRpZmllclVXaWR0aFZIaWRk
	ZW5dT3V0bGluZUNvbHVtbiNAdbAAAAAAAAjSJicoKVokY2xhc3NuYW1lWCRjbGFzc2Vz
	XE5TRGljdGlvbmFyeaIoKlhOU09iamVjdNMVDQ4sMB6jFxgZgAOABIAFozEyHYALgAyA
	CIAJW0NsYXNzQ29sdW1uI0BUAAAAAAAA0xUNDjg8HqMXGBmAA4AEgAWjPT4dgA6AD4AI
	gAlbVmFsdWVDb2x1bW4jQHTwAAAAAADSJidERV5OU011dGFibGVBcnJheaNERipXTlNB
	cnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAaABuAHMAfgCFAIkAiwCNAI8AkQCYAKAA
	pACmAKgAqgCuALAAsgC0ALYAwQDHAM4A3ADlAOYA6wD2AP8BDAEPARgBHwEjASUBJwEp
	AS0BLwExATMBNQFBAUoBUQFVAVcBWQFbAV8BYQFjAWUBZwFzAXwBgQGQAZQAAAAAAAAC
	AQAAAAAAAABHAAAAAAAAAAAAAAAAAAABnA==
	</data>
	<key>NSTableView Columns v3 XclocStringTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxAYCwwWISIjJCUmJy03ODk6
	REVGUFFSXF1eVSRudWxs0g0ODxVaTlMub2JqZWN0c1YkY2xhc3OlEBESExSAAoAKgA6A
	EYAUgBfTFw0OGBwgV05TLmtleXOjGRobgAOABIAFox0eH4AGgAeACIAJWklkZW50aWZp
	ZXJVV2lkdGhWSGlkZGVuXlhjbG9jS2V5Q29sdW1uI0BowAAAAAAACNIoKSorWiRjbGFz
	c25hbWVYJGNsYXNzZXNcTlNEaWN0aW9uYXJ5oiosWE5TT2JqZWN00xcNDi4yIKMZGhuA
	A4AEgAWjMzQ1gAuADIANgAlfEBFYY2xvY1NvdXJjZUNvbHVtbiNAaaAAAAAAAAnTFw0O
	Oz8goxkaG4ADgASABaNAQR+AD4AQgAiACV8QEVhjbG9jVGFyZ2V0Q29sdW1uI0BxUAAA
	AAAA0xcNDkdLIKMZGhuAA4AEgAWjTE0fgBKAE4AIgAlfEBJYY2xvY0NvbW1lbnRDb2x1
	bW4jQG7gAAAAAADTFw0OU1cgoxkaG4ADgASABaNYWR+AFYAWgAiACV8QG1hjbG9jVHJh
	bnNsYXRpb25TdGF0ZUNvbHVtbiNAXgAAAAAAANIoKV9gXk5TTXV0YWJsZUFycmF5o19h
	LFdOU0FycmF5AAgAEQAaACQAKQAyADcASQBMAFIAVABvAHUAegCFAIwAkgCUAJYAmACa
	AJwAngClAK0AsQCzALUAtwC7AL0AvwDBAMMAzgDUANsA6gDzAPQA+QEEAQ0BGgEdASYB
	LQExATMBNQE3ATsBPQE/AUEBQwFXAWABYQFoAWwBbgFwAXIBdgF4AXoBfAF+AZIBmwGi
	AaYBqAGqAawBsAGyAbQBtgG4Ac0B1gHdAeEB4wHlAecB6wHtAe8B8QHzAhECGgIfAi4C
	MgAAAAAAAAIBAAAAAAAAAGIAAAAAAAAAAAAAAAAAAAI6
	</data>
	<key>NSTableView Sort Ordering v2 PlistColumns</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABowsMEVUkbnVsbNINDg8QWk5T
	Lm9iamVjdHNWJGNsYXNzoIAC0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFi
	bGVBcnJheaMUFhdXTlNBcnJheVhOU09iamVjdAgRGiQpMjdJTFJUWF5jbnV2eH2IkaCk
	rAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Sort Ordering v2 XclocStringTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABowsMEVUkbnVsbNINDg8QWk5T
	Lm9iamVjdHNWJGNsYXNzoIAC0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFi
	bGVBcnJheaMUFhdXTlNBcnJheVhOU09iamVjdAgRGiQpMjdJTFJUWF5jbnV2eH2IkaCk
	rAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 PlistColumns</key>
	<true/>
	<key>NSTableView Supports v2 XclocStringTable</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>XcodeFormatOnSave</key>
		<string>@s</string>
	</dict>
	<key>NSWindow Frame AppShortcutsEditorUI</key>
	<string>1030 349 650 800 0 0 2560 1410 </string>
	<key>NSWindow Frame Documentation Viewer Window</key>
	<string>841 586 1024 730 0 0 2560 1415 </string>
	<key>NSWindow Frame IDEDownloadProgressWindow</key>
	<string>1944 1089 400 212 0 0 2560 1409 </string>
	<key>NSWindow Frame IDEEditContextSheet</key>
	<string>1176 572 534 341 0 0 2560 1409 </string>
	<key>NSWindow Frame IDEEditSchemeWindow</key>
	<string>977 475 933 504 0 0 2560 1409 </string>
	<key>NSWindow Frame IDEManageRunContextSheet</key>
	<string>1059 512 768 461 0 0 2560 1409 </string>
	<key>NSWindow Frame IDEPreferencesPanel</key>
	<string>865 687 830 507 0 0 2560 1415 </string>
	<key>NSWindow Frame IDESettingsPanel</key>
	<string>892 85 710 722 0 0 2560 1410 </string>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 123 228 335 0 0 2560 1415 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>2045 99 478 281 0 0 2560 1409 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>814 263 1258 928 0 0 2560 1409 </string>
	<key>NSWindow Frame NSSpellCheckerSpellingPanel</key>
	<string>814 645 431 289 0 0 2560 1409 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>692 392 359 150 0 0 2560 1410 </string>
	<key>NSWindow Frame Products</key>
	<string>768 386 1024 640 0 0 2560 1410 </string>
	<key>NSWindow Frame com.apple.dt.xcode.devicesWindow</key>
	<string>734 543 1184 700 0 0 2560 1410 </string>
	<key>PegasusMultipleCursorsEnabled</key>
	<true/>
	<key>ProductMappingKey</key>
	<data>
	YnBsaXN0MDDRAQJXZW50cmllc6IDCtMEBQYHCAldd29ya3NwYWNlUGF0aFhwcm9kdWN0
	c1psYXN0T3BlbmVkXxBEL1VzZXJzL2dhcnlhc2gvRGV2ZWxvcGVyL0dlZURibEEvWGNv
	ZGVHZWVEYmxBL1hjb2RlR2VlRGJsQS54Y29kZXByb2qgM0HHhC1L+RHH0wQFBgsMDV8Q
	OC9Vc2Vycy9nYXJ5YXNoL0RldmVsb3Blci9HZWVEYmxBL1Byb21wdC9Qcm9tcHQueGNv
	ZGVwcm9qoDNBx4QtbBB1WAgLExYdKzQ/hoeQl9LTAAAAAAAAAQEAAAAAAAAADgAAAAAA
	AAAAAAAAAAAAANw=
	</data>
	<key>UVLastDeviceSetPurge-iOS</key>
	<string>23A8464</string>
	<key>UVLastDeviceSetPurge-tvOS</key>
	<string>23J352</string>
	<key>UVLastDeviceSetPurge-watchOS</key>
	<string>23R353</string>
	<key>UVLastUsedDate</key>
	<data>
	NzgyNjc1OTQwLjIxMzQ0Mg==
	</data>
	<key>WebKitUseSystemAppearance</key>
	<true/>
	<key>XCFontAndColorCurrentTheme</key>
	<string>Solarized (Light).xccolortheme</string>
	<key>Xcode.AlertEvents</key>
	<dict>
		<key>Xcode.AlertEvent.BuildFails</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Structure</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>tabName</key>
				<string></string>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Sosumi.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.BuildNewIssues</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<true/>
				<key>visibility</key>
				<integer>1</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Issues</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>tabName</key>
				<string></string>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Sosumi.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.BuildStart</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<true/>
				<key>visibility</key>
				<integer>1</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Structure</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Sosumi.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.TestingFails</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Structure</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Sosumi.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.TestingSucceeds</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Structure</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Purr.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
	</dict>
	<key>Xcode.AlertEvents.4_1</key>
	<dict>
		<key>Xcode.AlertEvent.BotFailsBlameLocalUser</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.BuildFails</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.EnterFullScreen</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowEditor</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Structure</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>tabName</key>
				<string></string>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowToolbar</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowUtilityArea</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Sosumi.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.BuildGeneratesWarnings</key>
		<dict/>
		<key>Xcode.AlertEvent.BuildNewIssues</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.EnterFullScreen</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<true/>
				<key>visibility</key>
				<integer>1</integer>
			</dict>
			<key>Xcode.Alert.ShowEditor</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Issues</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>tabName</key>
				<string></string>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowToolbar</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.ShowUtilityArea</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Sosumi.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.BuildStart</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.EnterFullScreen</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<true/>
				<key>visibility</key>
				<integer>1</integer>
			</dict>
			<key>Xcode.Alert.ShowEditor</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Structure</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowToolbar</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.ShowUtilityArea</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Sosumi.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.BuildSucceeds</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.FindCompletesNoResults</key>
		<dict/>
		<key>Xcode.AlertEvent.FindCompletesWithResults</key>
		<dict/>
		<key>Xcode.AlertEvent.InstallFails</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.InstallSucceeds</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.OpenGLCaptureCompletes</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
				<key>visibility</key>
				<string>0</string>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Debug</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.OpenGLCaptureStarts</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict/>
			<key>enabled</key>
			<string>1</string>
		</dict>
		<key>Xcode.AlertEvent.PlaygroundGeneratesOutput</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.RunCompletes</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>hideIfNoOutput</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.RunExitsUnexpectedly</key>
		<dict/>
		<key>Xcode.AlertEvent.RunGeneratesOutput</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.RunPauses</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Debug</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.RunStart</key>
		<dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>0</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Debug</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.SharingCompletes</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.SharingFails</key>
		<dict/>
		<key>Xcode.AlertEvent.SharingStart</key>
		<dict/>
		<key>Xcode.AlertEvent.TestingFails</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.EnterFullScreen</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowEditor</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Structure</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowToolbar</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowUtilityArea</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Sosumi.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.TestingNewIssues</key>
		<dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Test</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.TestingPauses</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Debug</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.TestingStart</key>
		<dict/>
		<key>Xcode.AlertEvent.TestingSucceeds</key>
		<dict>
			<key>Xcode.Alert.Bounce</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<true/>
			</dict>
			<key>Xcode.Alert.EnterFullScreen</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.FirstIssue</key>
			<dict>
				<key>destination</key>
				<string>firstIssue</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.RunScript</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowEditor</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>destination</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>visibility</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Structure</string>
			</dict>
			<key>Xcode.Alert.ShowTab</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>tabTarget</key>
				<integer>0</integer>
			</dict>
			<key>Xcode.Alert.ShowToolbar</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.ShowUtilityArea</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Xcode.Alert.Sound</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>soundPath</key>
				<string>/System/Library/Sounds/Purr.aiff</string>
			</dict>
			<key>Xcode.Alert.Speech</key>
			<dict>
				<key>enabled</key>
				<false/>
				<key>voice</key>
				<string>com.apple.voice.compact.en-US.Samantha</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.WatchedIntegrationFinishes</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
	</dict>
	<key>Xcode3BuildSettingsEditorMode</key>
	<integer>0</integer>
	<key>Xcode3ProjectEditorSourceListVisible</key>
	<true/>
	<key>Xcode3ProjectTemplateChooserAssistantSelectedTemplateName_Multiplatform</key>
	<string>Application/App</string>
	<key>Xcode3ProjectTemplateChooserAssistantSelectedTemplateName_macOS</key>
	<string>Application/App</string>
	<key>XcodeCloudUserHasDismissedGetStartedPrompt</key>
	<true/>
</dict>
</plist>
