<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowTabToIndentText</key>
	<true/>
	<key>AlwaysShowFileList</key>
	<true/>
	<key>ApplicationAppearanceMode</key>
	<integer>0</integer>
	<key>ApplicationAutoSaveState</key>
	<dict>
		<key>ApplicationBuildNumber</key>
		<string>15C59</string>
		<key>DisplayConfiguration</key>
		<string>displays([(0, 0), (2560, 1440)])</string>
		<key>OpenDocuments</key>
		<dict>
			<key>521C7759-1937-4110-9E84-C3E6BEED68FE</key>
			<dict>
				<key>CreationDate</key>
				<date>2025-05-17T19:31:25Z</date>
				<key>DocumentProperties</key>
				<dict/>
				<key>Location</key>
				<dict>
					<key>FileBookmark</key>
					<data>
					Ym9va+gCAAAAAAQQMAAAABOEVa/0X8d7Y0+I
					lf7jqrEG2kzKAW2zzmsDVWgiVDTEzAEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAwAAAABBgAAEAAAACAAAAAwAAAACAAA
					AAQDAABCTwAAAAAAAAgAAAAEAwAAIHoAAAAA
					AAAIAAAABAMAAMLyDgAAAAAADAAAAAEGAABU
					AAAAZAAAAHQAAAAIAAAAAAQAAEHG4WD+gAAA
					GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
					AAAAAAAIAAAABAMAAAEAAAAAAAAABAAAAAMD
					AAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
					AQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
					5wAAAAgAAAAABAAAQcbjmoUAAAAkAAAAAQEA
					ADU2NUE3NDk5LTMyREYtNDcwNy04QUNDLUMx
					OTFBMDUyMUQwMhgAAAABAgAAgQAAAAEAAADv
					EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
					AAAAAAEFAAAaAAAAAQEAAE5TVVJMUGFyZW50
					RGlyZWN0b3J5VVJMS2V5AAAWAAAAAQkAAGZp
					bGU6Ly8vVXNlcnMvZ2FyeWFzaC8AAOQAAAD+
					////AQAAAAAAAAASAAAABBAAAEAAAAAAAAAA
					BRAAAIQAAAAAAAAAEBAAAKgAAAAAAAAAIBAA
					ADAAAAAAAAAAQBAAAJgAAAAAAAAAAiAAAHQB
					AAAAAAAABSAAAOQAAAAAAAAAECAAAPQAAAAA
					AAAAESAAACgBAAAAAAAAEiAAAAgBAAAAAAAA
					EyAAABgBAAAAAAAAICAAAFQBAAAAAAAAMCAA
					AIABAAAAAAAAAcAAAMgAAAAAAAAAEcAAACAA
					AAAAAAAAEsAAANgAAAAAAAAAENAAAAQAAAAA
					AAAAiAEAgKwBAAAAAAAA
					</data>
					<key>FileBookmarkHasSecurityScope</key>
					<true/>
					<key>FileName</key>
					<string>.config</string>
					<key>FileURLString</key>
					<string>file:///Users/garyash/.config/</string>
				</dict>
				<key>UntitledName</key>
				<string>.config</string>
				<key>com.barebones.DocumentType</key>
				<string>Project</string>
			</dict>
			<key>7302FA63-1860-4EC0-ADCD-613EEE5768EC</key>
			<dict>
				<key>CreationDate</key>
				<date>2025-05-17T19:31:55Z</date>
				<key>DocumentProperties</key>
				<dict/>
				<key>Location</key>
				<dict>
					<key>FileBookmark</key>
					<data>
					Ym9va3ACAAAAAAQQMAAAAO21Zu6+af3Vmydh
					+qZhH2Q+gHYvhuaCnqf7heCwd5BAeAEAAAQA
					AAADAwAAAAgAKAMAAAABAQAAb3B0AAcAAAAB
					AQAAZ2VlZGJsYQAIAAAAAQYAABAAAAAcAAAA
					CAAAAAQDAABLTwAAAAAAAAgAAAAEAwAAkewO
					AAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAE
					AABBxuIAuIAAABgAAAABAgAAAgAAAAAAAAAP
					AAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
					Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
					AAQDAAAAkIKW5wAAAAgAAAAABAAAQcbjmoUA
					AAAkAAAAAQEAADU2NUE3NDk5LTMyREYtNDcw
					Ny04QUNDLUMxOTFBMDUyMUQwMhgAAAABAgAA
					gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
					AAEBAAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5T
					VVJMUGFyZW50RGlyZWN0b3J5VVJMS2V5AAAM
					AAAAAQkAAGZpbGU6Ly8vb3B0L8AAAAD+////
					AQAAAAAAAAAPAAAABBAAACwAAAAAAAAABRAA
					AFwAAAAAAAAAEBAAAHwAAAAAAAAAIBAAABwA
					AAAAAAAAQBAAAGwAAAAAAAAAAiAAACwBAAAA
					AAAABSAAAJwAAAAAAAAAECAAAKwAAAAAAAAA
					ESAAAOAAAAAAAAAAEiAAAMAAAAAAAAAAEyAA
					ANAAAAAAAAAAICAAAAwBAAAAAAAAMCAAADgB
					AAAAAAAAENAAAAQAAAAAAAAAQAEAgGQBAAAA
					AAAA
					</data>
					<key>FileBookmarkHasSecurityScope</key>
					<true/>
					<key>FileName</key>
					<string>geedbla</string>
					<key>FileURLString</key>
					<string>file:///opt/geedbla/</string>
				</dict>
				<key>UntitledName</key>
				<string>geedbla</string>
				<key>com.barebones.DocumentType</key>
				<string>Project</string>
			</dict>
			<key>C9BDEB5F-0DDA-4904-AFDC-A277E8CEB0AD</key>
			<dict>
				<key>CreationDate</key>
				<date>2025-05-17T19:31:08Z</date>
				<key>DocumentProperties</key>
				<dict>
					<key>EditorState</key>
					<dict>
						<key>MainScrollBar</key>
						<integer>0</integer>
						<key>SelectionEnd</key>
						<integer>0</integer>
						<key>SelectionStart</key>
						<integer>0</integer>
					</dict>
					<key>EncodingName</key>
					<string>Unicode (UTF-8)</string>
					<key>LanguageName</key>
					<string>Text File</string>
					<key>LineEnds</key>
					<string>LF  </string>
					<key>MarkerData</key>
					<data>
					UipjaAAAAAEAAAAA
					</data>
				</dict>
				<key>Location</key>
				<string>-unsaved-</string>
				<key>UntitledName</key>
				<string>untitled text</string>
				<key>com.barebones.DocumentType</key>
				<string>Text</string>
			</dict>
			<key>C9D61B74-5C1D-42E1-9756-4C39372138F1</key>
			<dict>
				<key>CreationDate</key>
				<date>2025-05-17T19:32:04Z</date>
				<key>DocumentProperties</key>
				<dict/>
				<key>Location</key>
				<dict>
					<key>FileBookmark</key>
					<data>
					Ym9vawwDAAAAAAQQMAAAACQW+5M2bKRd1HFt
					tuUwBn/QYsF6Wsor0pEQHgKK4hKQCAIAAAQA
					AAADAwAAAAgAKAMAAAABAQAAb3B0AAcAAAAB
					AQAAZ2VlZGJsYQAHAAAAAQEAAHNjcmlwdHMA
					BgAAAAEBAABvY2Quc2gAABAAAAABBgAAEAAA
					ABwAAAAsAAAAPAAAAAgAAAAEAwAAS08AAAAA
					AAAIAAAABAMAAJHsDgAAAAAACAAAAAQDAACd
					7A4AAAAAAAgAAAAEAwAApuwOAAAAAAAQAAAA
					AQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQA
					AEHG4gC4gAAAGAAAAAECAAABAAAAAAAAAA8A
					AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6
					Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
					BAMAAACQgpbnAAAACAAAAAAEAABBxuOahQAA
					ACQAAAABAQAANTY1QTc0OTktMzJERi00NzA3
					LThBQ0MtQzE5MUEwNTIxRDAyGAAAAAECAACB
					AAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
					AQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNV
					UkxEb2N1bWVudElkZW50aWZpZXJLZXkAAAQA
					AAADAwAAggEAABoAAAABAQAATlNVUkxQYXJl
					bnREaXJlY3RvcnlVUkxLZXkAABwAAAABCQAA
					ZmlsZTovLy9vcHQvZ2VlZGJsYS9zY3JpcHRz
					L8wAAAD+////AQAAAAAAAAAQAAAABBAAAEwA
					AAAAAAAABRAAAKQAAAAAAAAAEBAAAMwAAAAA
					AAAAIBAAADwAAAAAAAAAQBAAALwAAAAAAAAA
					AiAAAHwBAAAAAAAABSAAAOwAAAAAAAAAECAA
					APwAAAAAAAAAESAAADABAAAAAAAAEiAAABAB
					AAAAAAAAEyAAACABAAAAAAAAICAAAFwBAAAA
					AAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA
					kAEAgLQBAAAAAAAAwAEAgOQBAAAAAAAA
					</data>
					<key>FileBookmarkHasSecurityScope</key>
					<true/>
					<key>FileName</key>
					<string>ocd.sh</string>
					<key>FileURLString</key>
					<string>file:///opt/geedbla/scripts/ocd.sh</string>
				</dict>
				<key>com.barebones.DocumentType</key>
				<string>Text</string>
			</dict>
		</dict>
		<key>OpenWindows</key>
		<array>
			<dict>
				<key>ActiveDocument</key>
				<string>C9D61B74-5C1D-42E1-9756-4C39372138F1</string>
				<key>AdditionalProperties</key>
				<dict>
					<key>EmbeddedEditorVisible</key>
					<true/>
					<key>FileListVisible</key>
					<true/>
					<key>IsFullScreen</key>
					<false/>
					<key>OpenDocumentSplitProportion</key>
					<real>0.59999999999999998</real>
					<key>ProjectListWidthAsFraction</key>
					<real>0.20000000000000001</real>
				</dict>
				<key>Documents</key>
				<array>
					<string>7302FA63-1860-4EC0-ADCD-613EEE5768EC</string>
					<string>C9D61B74-5C1D-42E1-9756-4C39372138F1</string>
				</array>
				<key>IsFullScreen</key>
				<false/>
				<key>IsMinimized</key>
				<false/>
				<key>SavedPosition</key>
				<string>rect(53,739,1398,1818)</string>
				<key>SavedPosition_v3</key>
				<string>{{739, 42}, {1079, 1373}}</string>
				<key>WindowName</key>
				<string>ocd.sh — geedbla</string>
				<key>WindowType</key>
				<string>ProjectWindow</string>
			</dict>
			<dict>
				<key>AdditionalProperties</key>
				<dict>
					<key>EmbeddedEditorVisible</key>
					<true/>
					<key>FileListVisible</key>
					<true/>
					<key>IsFullScreen</key>
					<false/>
					<key>OpenDocumentSplitProportion</key>
					<real>0.59999999999999998</real>
					<key>ProjectListWidthAsFraction</key>
					<real>0.20000000000000001</real>
				</dict>
				<key>Documents</key>
				<array>
					<string>521C7759-1937-4110-9E84-C3E6BEED68FE</string>
				</array>
				<key>IsFullScreen</key>
				<false/>
				<key>IsMinimized</key>
				<false/>
				<key>SavedPosition</key>
				<string>rect(53,739,1398,1818)</string>
				<key>SavedPosition_v3</key>
				<string>{{739, 42}, {1079, 1373}}</string>
				<key>WindowName</key>
				<string>.config</string>
				<key>WindowType</key>
				<string>ProjectWindow</string>
			</dict>
			<dict>
				<key>ActiveDocument</key>
				<string>C9BDEB5F-0DDA-4904-AFDC-A277E8CEB0AD</string>
				<key>AdditionalProperties</key>
				<dict>
					<key>EmbeddedEditorVisible</key>
					<true/>
					<key>FileListVisible</key>
					<true/>
					<key>IsFullScreen</key>
					<false/>
					<key>OpenDocumentSplitProportion</key>
					<real>0.0</real>
					<key>ProjectListWidthAsFraction</key>
					<real>0.20000000000000001</real>
				</dict>
				<key>Documents</key>
				<array>
					<string>C9BDEB5F-0DDA-4904-AFDC-A277E8CEB0AD</string>
				</array>
				<key>IsFullScreen</key>
				<false/>
				<key>IsMinimized</key>
				<false/>
				<key>SavedPosition</key>
				<string>rect(53,742,1394,1817)</string>
				<key>SavedPosition_v3</key>
				<string>{{742, 46}, {1075, 1369}}</string>
				<key>WindowName</key>
				<string>untitled text</string>
				<key>WindowType</key>
				<string>ProjectWindow</string>
			</dict>
		</array>
		<key>UntitledWindowsState</key>
		<dict>
			<key>GrpD</key>
			<integer>1</integer>
			<key>TxtD</key>
			<integer>1</integer>
		</dict>
		<key>com.barebones.DocumentFormatVersion</key>
		<integer>2</integer>
		<key>com.barebones.DocumentType</key>
		<string>ApplicationState</string>
	</dict>
	<key>ApplicationDidStartClean</key>
	<true/>
	<key>AutoShowFileList</key>
	<false/>
	<key>BBEditSerialNumber:15.0</key>
	<string>BEE150-VAT69-QKSZ2-JQZW8</string>
	<key>BBEditorFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwTHR4fICEnVSRudWxs0w0O
	DxARElYkY2xhc3NfEBdOU0ZvbnREZXNjcmlwdG9yT3B0aW9uc18QGk5TRm9udERlc2Ny
	aXB0b3JBdHRyaWJ1dGVzgAgSgAAAAIAC0xQVDRYZHFdOUy5rZXlzWk5TLm9iamVjdHOi
	FxiAA4AEohobgAWABoAHXxATTlNGb250U2l6ZUF0dHJpYnV0ZV8QE05TRm9udE5hbWVB
	dHRyaWJ1dGUjQCgAAAAAAABfEBdQcmFnbWF0YVByb0xpZ2EtUmVndWxhctIiIyQlWiRj
	bGFzc25hbWVYJGNsYXNzZXNcTlNEaWN0aW9uYXJ5oiQmWE5TT2JqZWN00iIjKClfEBBO
	U0ZvbnREZXNjcmlwdG9yoiomXxAQTlNGb250RGVzY3JpcHRvcgAIABEAGgAkACkAMgA3
	AEkATABRAFMAXQBjAGoAcQCLAKgAqgCvALEAuADAAMsAzgDQANIA1QDXANkA2wDxAQcB
	EAEqAS8BOgFDAVABUwFcAWEBdAF3AAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAA
	AYo=
	</data>
	<key>BBPreferencesSelectedModuleIdentifier</key>
	<string>BBAIWorksheetPreferences</string>
	<key>BBPrintingFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwTHR4fICEnVSRudWxs0w0O
	DxARElYkY2xhc3NfEBdOU0ZvbnREZXNjcmlwdG9yT3B0aW9uc18QGk5TRm9udERlc2Ny
	aXB0b3JBdHRyaWJ1dGVzgAgSgAAAAIAC0xQVDRYZHFdOUy5rZXlzWk5TLm9iamVjdHOi
	FxiAA4AEohobgAWABoAHXxATTlNGb250U2l6ZUF0dHJpYnV0ZV8QE05TRm9udE5hbWVB
	dHRyaWJ1dGUjQCYAAAAAAABfEBpQcmFnbWF0YVByb0xpZ2EtQm9sZEl0YWxpY9IiIyQl
	WiRjbGFzc25hbWVYJGNsYXNzZXNcTlNEaWN0aW9uYXJ5oiQmWE5TT2JqZWN00iIjKClf
	EBBOU0ZvbnREZXNjcmlwdG9yoiomXxAQTlNGb250RGVzY3JpcHRvcgAIABEAGgAkACkA
	MgA3AEkATABRAFMAXQBjAGoAcQCLAKgAqgCvALEAuADAAMsAzgDQANIA1QDXANkA2wDx
	AQcBEAEtATIBPQFGAVMBVgFfAWQBdwF6AAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAA
	AAAAAY0=
	</data>
	<key>BBSuffixMapOverrides</key>
	<array/>
	<key>BrowserWindowSavedBounds:(null)</key>
	<string>rect(175,850,1250,1710)</string>
	<key>BrowserWindowSavedBounds:AD3AC096DE86F9DE8F7EF9E125C99E8B7D3E6CDD</key>
	<string>rect(175,850,1250,1710)</string>
	<key>BrowserWindowSavedSplitPosition:AD3AC096DE86F9DE8F7EF9E125C99E8B7D3E6CDD</key>
	<integer>33</integer>
	<key>ChatAPIIdentifier</key>
	<string>chatgpt</string>
	<key>ChatGPTModel</key>
	<string>gpt-4o</string>
	<key>ColorSchemeFormatVersion</key>
	<integer>4</integer>
	<key>CopiedPreferencesToNewKeys_v1</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v2</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v3</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v4</key>
	<true/>
	<key>DefaultInterpreter_Python</key>
	<integer>3</integer>
	<key>DefaultPosition:FTPBrowser:displays([(0, 0), (2560, 1440)])</key>
	<string>rect(53,0,565,668)</string>
	<key>DefaultPosition:ProjectWindow:displays([(0, 0), (2560, 1440)])</key>
	<string>rect(53,739,1398,1818)</string>
	<key>DefaultPosition:TextWindow:displays([(0, 0), (2560, 1440)])</key>
	<string>rect(53,742,1394,1817)</string>
	<key>DefaultProperties:ProjectWindow:displays([(0, 0), (2560, 1440)])</key>
	<dict>
		<key>EmbeddedEditorVisible</key>
		<true/>
		<key>FileListVisible</key>
		<true/>
		<key>IsFullScreen</key>
		<false/>
		<key>OpenDocumentSplitProportion</key>
		<real>0.59999999999999998</real>
		<key>ProjectListWidthAsFraction</key>
		<real>0.20000000000000001</real>
	</dict>
	<key>DefaultProperties:TextWindow:displays([(0, 0), (2560, 1440)])</key>
	<dict>
		<key>EmbeddedEditorVisible</key>
		<true/>
		<key>FileListVisible</key>
		<true/>
		<key>IsFullScreen</key>
		<false/>
		<key>OpenDocumentSplitProportion</key>
		<real>0.0</real>
		<key>ProjectListWidthAsFraction</key>
		<real>0.20000000000000001</real>
	</dict>
	<key>DidMigrateTextWranglerIconSetting</key>
	<true/>
	<key>DiskBrowser_FileFilterMode</key>
	<integer>2</integer>
	<key>EditingWindowPageGuideWidth</key>
	<integer>120</integer>
	<key>EnableFontLigatures</key>
	<true/>
	<key>EnableOSHelpKey</key>
	<true/>
	<key>EnableRareLigatures</key>
	<true/>
	<key>FindDialog_SearchReplaceHistory</key>
	<array>
		<dict>
			<key>CaseSensitive</key>
			<false/>
			<key>EntireWord</key>
			<false/>
			<key>GrepEnabled</key>
			<true/>
			<key>IsExtract</key>
			<false/>
			<key>SearchDate</key>
			<date>2025-05-17T19:32:22Z</date>
			<key>SearchString</key>
			<string>Alfred</string>
			<key>WrapAround</key>
			<false/>
		</dict>
	</array>
	<key>FindDialog_SelectedSourceNodes</key>
	<array>
		<dict>
			<key>SourceNodeData</key>
			<string>file:///opt/geedbla/</string>
			<key>SourceNodeFileLocator</key>
			<dict>
				<key>BookmarkData</key>
				<data>
				Ym9vayACAAAAAAQQMAAAAJLUmdl6gas2s/K1Tcz0fjtw
				3XrFl98twJ96kXrtAFDyQAEAAAQAAAADAwAAAAgAKAMA
				AAABAQAAb3B0AAcAAAABAQAAZ2VlZGJsYQAIAAAAAQYA
				ABAAAAAcAAAACAAAAAQDAABLTwAAAAAAAAgAAAAEAwAA
				kewOAAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				xpMdVIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAA
				QcaCHWWAAAAkAAAAAQEAADU2NUE3NDk5LTMyREYtNDcw
				Ny04QUNDLUMxOTFBMDUyMUQwMhgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAAsAAAA
				AAAAAAUQAABcAAAAAAAAABAQAAB8AAAAAAAAAEAQAABs
				AAAAAAAAAAIgAAAsAQAAAAAAAAUgAACcAAAAAAAAABAg
				AACsAAAAAAAAABEgAADgAAAAAAAAABIgAADAAAAAAAAA
				ABMgAADQAAAAAAAAACAgAAAMAQAAAAAAADAgAAA4AQAA
				AAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>FileURL</key>
				<string>file:///opt/geedbla/</string>
				<key>HasSecurityScope</key>
				<true/>
				<key>TypeID</key>
				<string>_CFileLocator</string>
				<key>Version</key>
				<integer>1</integer>
			</dict>
			<key>SourceNodeParentType</key>
			<string>Project</string>
			<key>SourceNodeType</key>
			<string>Project</string>
		</dict>
	</array>
	<key>FindDialog_SelectionOnly</key>
	<false/>
	<key>FindDialog_ShowLiveMatches</key>
	<true/>
	<key>Frontmost Project</key>
	<false/>
	<key>GetMeOnTheBetaTrainWooWoooooChuggaChuggaChuggaChugga</key>
	<true/>
	<key>HiddenLanguageCodes</key>
	<array/>
	<key>InfoPanelSelectedTab</key>
	<string>textStatistics</string>
	<key>InstaprojectWindowSavedBounds:/Users/garyash/.config/git</key>
	<string>rect(53,739,1398,1818)</string>
	<key>KeepHistoricalBackups</key>
	<false/>
	<key>LanguageServerInfo_ANSI C</key>
	<dict>
		<key>ServerArguments</key>
		<array/>
		<key>ServerCommand</key>
		<string>/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clangd</string>
		<key>ServerInitParams</key>
		<string>clangd-params.json</string>
		<key>ServerLanguageID</key>
		<string>c</string>
	</dict>
	<key>LanguageServerInfo_C++</key>
	<dict>
		<key>ServerArguments</key>
		<array/>
		<key>ServerCommand</key>
		<string>/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clangd</string>
		<key>ServerInitParams</key>
		<string>clangd-params.json</string>
		<key>ServerLanguageID</key>
		<string>cpp</string>
	</dict>
	<key>LanguageServerInfo_JavaScript</key>
	<dict>
		<key>ServerArguments</key>
		<array>
			<string>--stdio</string>
		</array>
		<key>ServerCommand</key>
		<string>typescript-language-server</string>
		<key>ServerInitParams</key>
		<string></string>
		<key>ServerLanguageID</key>
		<string></string>
	</dict>
	<key>LanguageServerInfo_Objective-C</key>
	<dict>
		<key>ServerArguments</key>
		<array/>
		<key>ServerCommand</key>
		<string>/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clangd</string>
		<key>ServerInitParams</key>
		<string>clangd-params.json</string>
		<key>ServerLanguageID</key>
		<string>objective-c</string>
	</dict>
	<key>LanguageServerInfo_Objective-C++</key>
	<dict>
		<key>ServerArguments</key>
		<array/>
		<key>ServerCommand</key>
		<string>/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clangd</string>
		<key>ServerInitParams</key>
		<string>clangd-params.json</string>
		<key>ServerLanguageID</key>
		<string>objective-cpp</string>
	</dict>
	<key>LanguageServerInfo_Python</key>
	<dict>
		<key>ServerArguments</key>
		<array/>
		<key>ServerCommand</key>
		<string>jedi-language-server</string>
		<key>ServerInitParams</key>
		<string></string>
		<key>ServerLanguageID</key>
		<string></string>
	</dict>
	<key>LanguageServerInfo_Swift</key>
	<dict>
		<key>ServerArguments</key>
		<array/>
		<key>ServerCommand</key>
		<string>/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/sourcekit-lsp</string>
		<key>ServerInitParams</key>
		<string></string>
		<key>ServerLanguageID</key>
		<string>swift</string>
	</dict>
	<key>LanguageServerInfo_Unix Shell Script</key>
	<dict>
		<key>ServerArguments</key>
		<array>
			<string>start</string>
		</array>
		<key>ServerCommand</key>
		<string>bash-language-server</string>
		<key>ServerInitParams</key>
		<string></string>
		<key>ServerLanguageID</key>
		<string></string>
	</dict>
	<key>LastLaunchOSVersion</key>
	<string>Version 15.5 (Build 24F74)</string>
	<key>LastOpenByNameString</key>
	<string></string>
	<key>ListDisplayFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAChC1UkbnVsbAgRGiQpMjdJTFFT
	VQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>MakeBackup</key>
	<false/>
	<key>My Files &amp; Folders</key>
	<false/>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<false/>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{1210, 911}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{1314, 958}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va3wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeAEA
	AAQAAAADAwAAAAQAAAMAAAABAQAAb3B0AAcAAAABAQAAZ2VlZGJsYQAIAAAAAQYAABAA
	AAAcAAAACAAAAAQDAABLTwAAAAAAAAgAAAAEAwAAkewOAAAAAAAIAAAAAQYAADwAAABM
	AAAACAAAAAAEAABBxuIAuIAAABgAAAABAgAAAgAAAAAAAAAfAgAAAAAAAB8CAAAAAAAA
	AAAAAAEFAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AACQgpbnAAAACAAAAAAEAABBxuOahQAAACQAAAABAQAANTY1QTc0OTktMzJERi00NzA3
	LThBQ0MtQzE5MUEwNTIxRDAyGAAAAAECAACBAAAAAQAAAO8TAAABAAAA7xMAAAEAAAAB
	AAAAAQEAAC8AAAAwAAAAAQIAAGRuaWIAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAHJkbGYCAAAAAAAAAMwAAAD+////AQAAAAAAAAAQAAAABBAAACwAAAAAAAAABRAA
	AFwAAAAAAAAAEBAAAHwAAAAAAAAAQBAAAGwAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQA
	AAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAA
	AAAAICAAABQBAAAAAAAAMCAAAJwAAAAAAAAAAdAAAJwAAAAAAAAAENAAAAQAAAAAAAAA
	F/AAABwAAAAAAAAAIvAAAEABAAAAAAAA
	</data>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSTableView Columns v3 CustomLanguageExtensionMappingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrgsMEx4fICEiIyQqNDU2VSRu
	dWxs0g0ODxJaTlMub2JqZWN0c1YkY2xhc3OiEBGAAoAKgA3TFA0OFRkdV05TLmtleXOj
	FhcYgAOABIAFoxobHIAGgAeACIAJWklkZW50aWZpZXJVV2lkdGhWSGlkZGVuVnN1ZmZp
	eCNAYQAAAAAAAAjSJSYnKFokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIn
	KVhOU09iamVjdNMUDQ4rLx2jFhcYgAOABIAFozAxHIALgAyACIAJWGxhbmd1YWdlI0Bv
	AAAAAAAA0iUmNzheTlNNdXRhYmxlQXJyYXmjNzkpV05TQXJyYXkACAARABoAJAApADIA
	NwBJAEwAUgBUAGMAaQBuAHkAgACDAIUAhwCJAJAAmACcAJ4AoACiAKYAqACqAKwArgC5
	AL8AxgDNANYA1wDcAOcA8AD9AQABCQEQARQBFgEYARoBHgEgASIBJAEmAS8BOAE9AUwB
	UAAAAAAAAAIBAAAAAAAAADoAAAAAAAAAAAAAAAAAAAFY
	</data>
	<key>NSTableView Columns v3 CustomLanguageSettingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrgsMEx4fICEiIyQqNDU2VSRu
	dWxs0g0ODxJaTlMub2JqZWN0c1YkY2xhc3OiEBGAAoAKgA3TFA0OFRkdV05TLmtleXOj
	FhcYgAOABIAFoxobHIAGgAeACIAJWklkZW50aWZpZXJVV2lkdGhWSGlkZGVuXGxhbmd1
	YWdlTmFtZSNAY8AAAAAAAAjSJSYnKFokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlv
	bmFyeaInKVhOU09iamVjdNMUDQ4rLx2jFhcYgAOABIAFozAxHIALgAyACIAJXxAgQXV0
	b21hdGljVGFibGVDb2x1bW5JZGVudGlmaWVyLjEjQGxAAAAAAADSJSY3OF5OU011dGFi
	bGVBcnJheaM3OSlXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAYwBpAG4AeQCA
	AIMAhQCHAIkAkACYAJwAngCgAKIApgCoAKoArACuALkAvwDGANMA3ADdAOIA7QD2AQMB
	BgEPARYBGgEcAR4BIAEkASYBKAEqASwBTwFYAV0BbAFwAAAAAAAAAgEAAAAAAAAAOgAA
	AAAAAAAAAAAAAAAAAXg=
	</data>
	<key>NSTableView Columns v3 FTPBrowserOutlineView</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxAUCwwVICEiIyQlJiw2NzhC
	Q0ROT1BVJG51bGzSDQ4PFFpOUy5vYmplY3RzViRjbGFzc6QQERITgAKACoANgBCAE9MW
	DQ4XGx9XTlMua2V5c6MYGRqAA4AEgAWjHB0egAaAB4AIgAlaSWRlbnRpZmllclVXaWR0
	aFZIaWRkZW5UbmFtZSNAbGAAAAAAAAjSJygpKlokY2xhc3NuYW1lWCRjbGFzc2VzXE5T
	RGljdGlvbmFyeaIpK1hOU09iamVjdNMWDQ4tMR+jGBkagAOABIAFozIzHoALgAyACIAJ
	VGRhdGUjQGhgAAAAAADTFg0OOT0foxgZGoADgASABaM+Px6ADoAPgAiACVRzaXplI0BE
	AAAAAAAA0xYNDkVJH6MYGRqAA4AEgAWjSksegBGAEoAIgAlaa2luZFN0cmluZyNAYeAA
	AAAAANInKFFSXk5TTXV0YWJsZUFycmF5o1FTK1dOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFIAVABrAHEAdgCBAIgAjQCPAJEAkwCVAJcAngCmAKoArACuALAAtAC2ALgAugC8
	AMcAzQDUANkA4gDjAOgA8wD8AQkBDAEVARwBIAEiASQBJgEqASwBLgEwATIBNwFAAUcB
	SwFNAU8BUQFVAVcBWQFbAV0BYgFrAXIBdgF4AXoBfAGAAYIBhAGGAYgBkwGcAaEBsAG0
	AAAAAAAAAgEAAAAAAAAAVAAAAAAAAAAAAAAAAAAAAbw=
	</data>
	<key>NSTableView Sort Ordering v2 CustomLanguageExtensionMappingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqQsMEhscHR4fJVUkbnVsbNIN
	Dg8RWk5TLm9iamVjdHNWJGNsYXNzoRCAAoAI0xMNDhQXGldOUy5rZXlzohUWgAOABKIY
	GYAFgAaAB1pJZGVudGlmaWVyWUFzY2VuZGluZ1ZzdWZmaXgJ0iAhIiNaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiIiRYTlNPYmplY3TSICEmJ15OU011dGFibGVB
	cnJheaMmKCRXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAXgBkAGkAdAB7AH0A
	fwCBAIgAkACTAJUAlwCaAJwAngCgAKsAtQC8AL0AwgDNANYA4wDmAO8A9AEDAQcAAAAA
	AAACAQAAAAAAAAApAAAAAAAAAAAAAAAAAAABDw==
	</data>
	<key>NSTableView Sort Ordering v2 CustomLanguageSettingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqQsMEhscHR4fJVUkbnVsbNIN
	Dg8RWk5TLm9iamVjdHNWJGNsYXNzoRCAAoAI0xMNDhQXGldOUy5rZXlzohUWgAOABKIY
	GYAFgAaAB1pJZGVudGlmaWVyWUFzY2VuZGluZ1xsYW5ndWFnZU5hbWUJ0iAhIiNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiIiRYTlNPYmplY3TSICEmJ15OU011
	dGFibGVBcnJheaMmKCRXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAXgBkAGkA
	dAB7AH0AfwCBAIgAkACTAJUAlwCaAJwAngCgAKsAtQDCAMMAyADTANwA6QDsAPUA+gEJ
	AQ0AAAAAAAACAQAAAAAAAAApAAAAAAAAAAAAAAAAAAABFQ==
	</data>
	<key>NSTableView Sort Ordering v2 FTPBrowserOutlineView</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqQsMEhscHR4fJVUkbnVsbNIN
	Dg8RWk5TLm9iamVjdHNWJGNsYXNzoRCAAoAI0xMNDhQXGldOUy5rZXlzohUWgAOABKIY
	GYAFgAaAB1pJZGVudGlmaWVyWUFzY2VuZGluZ1RuYW1lCdIgISIjWiRjbGFzc25hbWVY
	JGNsYXNzZXNcTlNEaWN0aW9uYXJ5oiIkWE5TT2JqZWN00iAhJideTlNNdXRhYmxlQXJy
	YXmjJigkV05TQXJyYXkACAARABoAJAApADIANwBJAEwAUgBUAF4AZABpAHQAewB9AH8A
	gQCIAJAAkwCVAJcAmgCcAJ4AoACrALUAugC7AMAAywDUAOEA5ADtAPIBAQEFAAAAAAAA
	AgEAAAAAAAAAKQAAAAAAAAAAAAAAAAAAAQ0=
	</data>
	<key>NSTableView Supports v2 CustomLanguageExtensionMappingsList</key>
	<true/>
	<key>NSTableView Supports v2 CustomLanguageSettingsList</key>
	<true/>
	<key>NSTableView Supports v2 FTPBrowserOutlineView</key>
	<true/>
	<key>NSToolbar Configuration BBSetupConfigurationPanelToolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration E6A14725-E08D-4AAC-A81B-CD1E58EA44C0</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame AboutBoxNeue</key>
	<string>1126 507 307 429 0 0 2560 1415 </string>
	<key>NSWindow Frame BBCustomizeLanguageSettings</key>
	<string>1058 728 528 414 0 0 2560 1415 </string>
	<key>NSWindow Frame BBLanguageListPanel</key>
	<string>1004 796 636 278 0 0 2560 1415 </string>
	<key>NSWindow Frame BBPreferences</key>
	<string>979 619 685 607 0 0 2560 1415 </string>
	<key>NSWindow Frame BBSetupEditorWindow</key>
	<string>1963 979 350 426 0 0 2560 1415 </string>
	<key>NSWindow Frame ChatGPTKeyEntryPanel</key>
	<string>1000 812 560 345 0 0 2560 1415 </string>
	<key>NSWindow Frame ConfirmCloseMulti</key>
	<string>997 776 565 393 0 0 2560 1415 </string>
	<key>NSWindow Frame GoToLine</key>
	<string>1100 603 360 209 0 0 2560 1415 </string>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 97 224 278 0 0 2560 1415 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>2045 150 445 235 0 0 2560 1415 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>675 388 1210 796 0 0 2560 1415 </string>
	<key>NSWindow Frame OpenFileByName</key>
	<string>1040 564 480 356 0 0 2560 1415 </string>
	<key>NSWindow Frame OpenRecentPanel</key>
	<string>1039 949 480 300 0 0 2560 1415 </string>
	<key>NSWindow Frame SoftwareUpdateDownloadProgress</key>
	<string>1116 860 426 167 0 0 2560 1415 </string>
	<key>NSWindow Frame SoftwareUpdatePromptWindow</key>
	<string>857 761 538 386 0 0 2560 1415 </string>
	<key>NSWindow Frame StartupProgressPanel</key>
	<string>1096 664 369 109 0 0 2560 1415 </string>
	<key>NSWindow Frame UniversalRunner</key>
	<string>1085 949 389 358 0 0 2560 1415 </string>
	<key>NSWindow Frame WindowPosition_v2_Find</key>
	<string>196 241 666 328 0 0 2560 1415 </string>
	<key>NSWindow Frame WindowPosition_v2_FunctionsPalette</key>
	<string>1155 487 285 358 0 0 2560 1415 </string>
	<key>NSWindow Frame WindowPosition_v2_MultiFileFind</key>
	<string>196 240 626 563 0 0 2560 1415 </string>
	<key>NSWindow Frame WindowPosition_v2_ScriptsPalette</key>
	<string>1145 857 266 289 0 0 2560 1415 </string>
	<key>NextAutoSaveCheckTime</key>
	<integer>2003018439</integer>
	<key>Open Editing Windows</key>
	<false/>
	<key>Open Text Documents</key>
	<false/>
	<key>OpenDialogShowsHiddenItems</key>
	<true/>
	<key>Paths Files</key>
	<false/>
	<key>PreferencesSnapshotDate</key>
	<date>2025-05-17T19:41:51Z</date>
	<key>PrintColorSyntax</key>
	<false/>
	<key>Projects</key>
	<false/>
	<key>PropertyWindowsToReopen</key>
	<array/>
	<key>ReadTextEncodingFallbacks</key>
	<array>
		<integer>0</integer>
	</array>
	<key>Recent Folders</key>
	<false/>
	<key>RecentItemsData</key>
	<dict>
		<key>Folder</key>
		<array>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:31:55Z</date>
				<key>DocumentClass</key>
				<string>Folder</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9vayACAAAAAAQQMAAAAAqKsH2IoHPEl12X
					p5/gugLtQS1pBd0/gf6VAE4DeqcgQAEAAAQA
					AAADAwAAAAgAKAMAAAABAQAAb3B0AAcAAAAB
					AQAAZ2VlZGJsYQAIAAAAAQYAABAAAAAcAAAA
					CAAAAAQDAABLTwAAAAAAAAgAAAAEAwAAkewO
					AAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAE
					AABBxuIAuIAAABgAAAABAgAAAgAAAAAAAAAP
					AAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
					Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
					AAQDAAAAkIKW5wAAAAgAAAAABAAAQcbjmoUA
					AAAkAAAAAQEAADU2NUE3NDk5LTMyREYtNDcw
					Ny04QUNDLUMxOTFBMDUyMUQwMhgAAAABAgAA
					gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
					AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEA
					AAAAAAAADQAAAAQQAAAsAAAAAAAAAAUQAABc
					AAAAAAAAABAQAAB8AAAAAAAAAEAQAABsAAAA
					AAAAAAIgAAAsAQAAAAAAAAUgAACcAAAAAAAA
					ABAgAACsAAAAAAAAABEgAADgAAAAAAAAABIg
					AADAAAAAAAAAABMgAADQAAAAAAAAACAgAAAM
					AQAAAAAAADAgAAA4AQAAAAAAABDQAAAEAAAA
					AAAAAA==
					</data>
					<key>FileURL</key>
					<string>file:///opt/geedbla/</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>geedbla</string>
				<key>URL</key>
				<string>file:///opt/geedbla/</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:31:25Z</date>
				<key>DocumentClass</key>
				<string>Folder</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va4wCAAAAAAQQMAAAAN+KkYYOsUtKw8rc
					1vZYrvCtRwJodwpo+ZforzYR9B3tiAEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAwAAAABBgAAEAAAACAAAAAwAAAACAAA
					AAQDAABCTwAAAAAAAAgAAAAEAwAAIHoAAAAA
					AAAIAAAABAMAAMLyDgAAAAAADAAAAAEGAABU
					AAAAZAAAAHQAAAAIAAAAAAQAAEHG4WD+gAAA
					GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
					AAAAAAAIAAAABAMAAAEAAAAAAAAABAAAAAMD
					AAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
					AQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
					5wAAAAgAAAAABAAAQcbjmoUAAAAkAAAAAQEA
					ADU2NUE3NDk5LTMyREYtNDcwNy04QUNDLUMx
					OTFBMDUyMUQwMhgAAAABAgAAgQAAAAEAAADv
					EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
					AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAA
					AAQQAABAAAAAAAAAAAUQAACEAAAAAAAAABAQ
					AACoAAAAAAAAAEAQAACYAAAAAAAAAAIgAAB0
					AQAAAAAAAAUgAADkAAAAAAAAABAgAAD0AAAA
					AAAAABEgAAAoAQAAAAAAABIgAAAIAQAAAAAA
					ABMgAAAYAQAAAAAAACAgAABUAQAAAAAAADAg
					AACAAQAAAAAAAAHAAADIAAAAAAAAABHAAAAg
					AAAAAAAAABLAAADYAAAAAAAAABDQAAAEAAAA
					AAAAAA==
					</data>
					<key>FileURL</key>
					<string>file:///Users/garyash/.config/</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>.config</string>
				<key>URL</key>
				<string>file:///Users/garyash/.config/</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:02:01Z</date>
				<key>DocumentClass</key>
				<string>Folder</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va7ACAAAAAAQQMAAAANNtOi3IFm0slYYr
					8eT9tzd60YVJllKFUKseszBCn/TXrAEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAMAAAABAQAAZ2l0ABAAAAABBgAAEAAA
					ACAAAAAwAAAAQAAAAAgAAAAEAwAAQk8AAAAA
					AAAIAAAABAMAACB6AAAAAAAACAAAAAQDAADC
					8g4AAAAAAAgAAAAEAwAAw/IOAAAAAAAQAAAA
					AQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQA
					AEHG4WD+gAAAGAAAAAECAAACAAAAAAAAAA8A
					AAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAA
					AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxl
					Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
					AAQDAAAAkIKW5wAAAAgAAAAABAAAQcbjmoUA
					AAAkAAAAAQEAADU2NUE3NDk5LTMyREYtNDcw
					Ny04QUNDLUMxOTFBMDUyMUQwMhgAAAABAgAA
					gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
					AAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
					AAAAAAAAEAAAAAQQAABMAAAAAAAAAAUQAACk
					AAAAAAAAABAQAADMAAAAAAAAAEAQAAC8AAAA
					AAAAAAIgAACYAQAAAAAAAAUgAAAIAQAAAAAA
					ABAgAAAYAQAAAAAAABEgAABMAQAAAAAAABIg
					AAAsAQAAAAAAABMgAAA8AQAAAAAAACAgAAB4
					AQAAAAAAADAgAACkAQAAAAAAAAHAAADsAAAA
					AAAAABHAAAAgAAAAAAAAABLAAAD8AAAAAAAA
					ABDQAAAEAAAAAAAAAA==
					</data>
					<key>FileURL</key>
					<string>file:///Users/garyash/.config/git/</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>git</string>
				<key>URL</key>
				<string>file:///Users/garyash/.config/git/</string>
			</dict>
		</array>
		<key>Text</key>
		<array>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:41:50Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va6wCAAAAAAQQMAAAAIa+8wTjPnHEyzPe
					WDNrxCbUuB8nsm2I0m0/KF0ks0NewAEAAAQA
					AAADAwAAAAgAKAMAAAABAQAAb3B0AAcAAAAB
					AQAAZ2VlZGJsYQAHAAAAAQEAAHNjcmlwdHMA
					BgAAAAEBAABvY2Quc2gAABAAAAABBgAAEAAA
					ABwAAAAsAAAAPAAAAAgAAAAEAwAAS08AAAAA
					AAAIAAAABAMAAJHsDgAAAAAACAAAAAQDAACd
					7A4AAAAAAAgAAAAEAwAApuwOAAAAAAAQAAAA
					AQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQA
					AEHG4gC4gAAAGAAAAAECAAABAAAAAAAAAA8A
					AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6
					Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
					BAMAAACQgpbnAAAACAAAAAAEAABBxuOahQAA
					ACQAAAABAQAANTY1QTc0OTktMzJERi00NzA3
					LThBQ0MtQzE5MUEwNTIxRDAyGAAAAAECAACB
					AAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
					AQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNV
					UkxEb2N1bWVudElkZW50aWZpZXJLZXkAAAQA
					AAADAwAAggEAALQAAAD+////AQAAAAAAAAAO
					AAAABBAAAEwAAAAAAAAABRAAAKQAAAAAAAAA
					EBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAA
					AHwBAAAAAAAABSAAAOwAAAAAAAAAECAAAPwA
					AAAAAAAAESAAADABAAAAAAAAEiAAABABAAAA
					AAAAEyAAACABAAAAAAAAICAAAFwBAAAAAAAA
					MCAAAIgBAAAAAAAAENAAAAQAAAAAAAAAkAEA
					gLQBAAAAAAAA
					</data>
					<key>FileURL</key>
					<string>file:///opt/geedbla/scripts/ocd.sh</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>ocd.sh</string>
				<key>URL</key>
				<string>file:///opt/geedbla/scripts/ocd.sh</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:27:43Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9vaxwDAAAAAAQQMAAAAJerFYhkvsx4vgPR
					NqcF8ebw3XCzugV6MeeVahCLHH7eDAIAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAMAAAABAQAAZ2l0AA0AAAABAQAAZ2l0
					YXR0cmlidXRlcwAAABQAAAABBgAAEAAAACAA
					AAAwAAAAQAAAAEwAAAAIAAAABAMAAEJPAAAA
					AAAACAAAAAQDAAAgegAAAAAAAAgAAAAEAwAA
					wvIOAAAAAAAIAAAABAMAAMPyDgAAAAAACAAA
					AAQDAAAH8w4AAAAAABQAAAABBgAAgAAAAJAA
					AACgAAAAsAAAAMAAAAAIAAAAAAQAAEHG4WD+
					gAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
					AAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAA
					AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwA
					AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
					kIKW5wAAAAgAAAAABAAAQcbjmoUAAAAkAAAA
					AQEAADU2NUE3NDk5LTMyREYtNDcwNy04QUND
					LUMxOTFBMDUyMUQwMhgAAAABAgAAgQAAAAEA
					AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
					AAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9j
					dW1lbnRJZGVudGlmaWVyS2V5AAAEAAAAAwMA
					AJQDAADYAAAA/v///wEAAAAAAAAAEQAAAAQQ
					AABkAAAAAAAAAAUQAADQAAAAAAAAABAQAAD8
					AAAAAAAAAEAQAADsAAAAAAAAAAIgAADIAQAA
					AAAAAAUgAAA4AQAAAAAAABAgAABIAQAAAAAA
					ABEgAAB8AQAAAAAAABIgAABcAQAAAAAAABMg
					AABsAQAAAAAAACAgAACoAQAAAAAAADAgAADU
					AQAAAAAAAAHAAAAcAQAAAAAAABHAAAAgAAAA
					AAAAABLAAAAsAQAAAAAAABDQAAAEAAAAAAAA
					ANwBAIAAAgAAAAAAAA==
					</data>
					<key>FileURL</key>
					<string>file:///Users/garyash/.config/git/gitattributes</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>gitattributes</string>
				<key>URL</key>
				<string>file:///Users/garyash/.config/git/gitattributes</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:27:43Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9vaxgDAAAAAAQQMAAAALv8DCkOujUE1gK1
					c6QiHB0S2Mivq7wEJBFL0Nx/lVw1CAIAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAMAAAABAQAAZ2l0AAoAAAABAQAAZ2l0
					bWVzc2FnZQAAFAAAAAEGAAAQAAAAIAAAADAA
					AABAAAAATAAAAAgAAAAEAwAAQk8AAAAAAAAI
					AAAABAMAACB6AAAAAAAACAAAAAQDAADC8g4A
					AAAAAAgAAAAEAwAAw/IOAAAAAAAIAAAABAMA
					AAbzDgAAAAAAFAAAAAEGAAB8AAAAjAAAAJwA
					AACsAAAAvAAAAAgAAAAABAAAQcbhYP6AAAAY
					AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
					AAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMA
					APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
					AABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
					AAAACAAAAAAEAABBxuOahQAAACQAAAABAQAA
					NTY1QTc0OTktMzJERi00NzA3LThBQ0MtQzE5
					MUEwNTIxRDAyGAAAAAECAACBAAAAAQAAAO8T
					AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
					AAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVu
					dElkZW50aWZpZXJLZXkAAAQAAAADAwAAfwMA
					ANgAAAD+////AQAAAAAAAAARAAAABBAAAGAA
					AAAAAAAABRAAAMwAAAAAAAAAEBAAAPgAAAAA
					AAAAQBAAAOgAAAAAAAAAAiAAAMQBAAAAAAAA
					BSAAADQBAAAAAAAAECAAAEQBAAAAAAAAESAA
					AHgBAAAAAAAAEiAAAFgBAAAAAAAAEyAAAGgB
					AAAAAAAAICAAAKQBAAAAAAAAMCAAANABAAAA
					AAAAAcAAABgBAAAAAAAAEcAAACAAAAAAAAAA
					EsAAACgBAAAAAAAAENAAAAQAAAAAAAAA2AEA
					gPwBAAAAAAAA
					</data>
					<key>FileURL</key>
					<string>file:///Users/garyash/.config/git/gitmessage</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>gitmessage</string>
				<key>URL</key>
				<string>file:///Users/garyash/.config/git/gitmessage</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:27:42Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va9wCAAAAAAQQMAAAAJLqhy7rCH+92czW
					u604BAXTY+xDW9RlUz/HGoyszhUO2AEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAMAAAABAQAAZ2l0AAkAAAABAQAAZ2l0
					aWdub3JlAAAAFAAAAAEGAAAQAAAAIAAAADAA
					AABAAAAATAAAAAgAAAAEAwAAQk8AAAAAAAAI
					AAAABAMAACB6AAAAAAAACAAAAAQDAADC8g4A
					AAAAAAgAAAAEAwAAw/IOAAAAAAAIAAAABAMA
					ABTzDgAAAAAAFAAAAAEGAAB8AAAAjAAAAJwA
					AACsAAAAvAAAAAgAAAAABAAAQcbhYP6AAAAY
					AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
					AAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMA
					APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
					AABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
					AAAACAAAAAAEAABBxuOahQAAACQAAAABAQAA
					NTY1QTc0OTktMzJERi00NzA3LThBQ0MtQzE5
					MUEwNTIxRDAyGAAAAAECAACBAAAAAQAAAO8T
					AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
					AAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAA
					BBAAAGAAAAAAAAAABRAAAMwAAAAAAAAAEBAA
					APgAAAAAAAAAQBAAAOgAAAAAAAAAAiAAAMQB
					AAAAAAAABSAAADQBAAAAAAAAECAAAEQBAAAA
					AAAAESAAAHgBAAAAAAAAEiAAAFgBAAAAAAAA
					EyAAAGgBAAAAAAAAICAAAKQBAAAAAAAAMCAA
					ANABAAAAAAAAAcAAABgBAAAAAAAAEcAAACAA
					AAAAAAAAEsAAACgBAAAAAAAAENAAAAQAAAAA
					AAAA
					</data>
					<key>FileURL</key>
					<string>file:///Users/garyash/.config/git/gitignore</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>gitignore</string>
				<key>URL</key>
				<string>file:///Users/garyash/.config/git/gitignore</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:27:41Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9vaywDAAAAAAQQMAAAAML5MumBzZvLxWBi
					LRVhZwzlSBfivsgYC/ZinyZGXvb1KAIAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAMAAAABAQAAZ2l0AAgAAAABAQAAdGVt
					cGxhdGUFAAAAAQEAAGhvb2tzAAAACgAAAAEB
					AABwcmUtY29tbWl0AAAcAAAAAQYAABAAAAAg
					AAAAMAAAAEAAAABMAAAAXAAAAGwAAAAIAAAA
					BAMAAEJPAAAAAAAACAAAAAQDAAAgegAAAAAA
					AAgAAAAEAwAAwvIOAAAAAAAIAAAABAMAAMPy
					DgAAAAAACAAAAAQDAADG8g4AAAAAAAgAAAAE
					AwAAx/IOAAAAAAAIAAAABAMAAFjzDgAAAAAA
					HAAAAAEGAACkAAAAtAAAAMQAAADUAAAA5AAA
					APQAAAAEAQAACAAAAAAEAABBxuFg/oAAABgA
					AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
					AAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA
					9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
					AE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucA
					AAAIAAAAAAQAAEHG45qFAAAAJAAAAAEBAAA1
					NjVBNzQ5OS0zMkRGLTQ3MDctOEFDQy1DMTkx
					QTA1MjFEMDIYAAAAAQIAAIEAAAABAAAA7xMA
					AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
					AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
					EAAAgAAAAAAAAAAFEAAAFAEAAAAAAAAQEAAA
					SAEAAAAAAABAEAAAOAEAAAAAAAACIAAAFAIA
					AAAAAAAFIAAAhAEAAAAAAAAQIAAAlAEAAAAA
					AAARIAAAyAEAAAAAAAASIAAAqAEAAAAAAAAT
					IAAAuAEAAAAAAAAgIAAA9AEAAAAAAAAwIAAA
					IAIAAAAAAAABwAAAaAEAAAAAAAARwAAAIAAA
					AAAAAAASwAAAeAEAAAAAAAAQ0AAABAAAAAAA
					AAA=
					</data>
					<key>FileURL</key>
					<string>file:///Users/garyash/.config/git/template/hooks/pre-commit</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>pre-commit</string>
				<key>URL</key>
				<string>file:///Users/garyash/.config/git/template/hooks/pre-commit</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:06:29Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va+ACAAAAAAQQMAAAAAkYCdpqhm3VZzU8
					0mqrHcE5UlVwcWGSAZdmr9MxadKj3AEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAMAAAABAQAAZ2l0AA8AAAABAQAAYWxs
					b3dlZF9zaWduZXJzABQAAAABBgAAEAAAACAA
					AAAwAAAAQAAAAEwAAAAIAAAABAMAAEJPAAAA
					AAAACAAAAAQDAAAgegAAAAAAAAgAAAAEAwAA
					wvIOAAAAAAAIAAAABAMAAMPyDgAAAAAACAAA
					AAQDAAAT8w4AAAAAABQAAAABBgAAgAAAAJAA
					AACgAAAAsAAAAMAAAAAIAAAAAAQAAEHG4WD+
					gAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
					AAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAA
					AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwA
					AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
					kIKW5wAAAAgAAAAABAAAQcbjmoUAAAAkAAAA
					AQEAADU2NUE3NDk5LTMyREYtNDcwNy04QUND
					LUMxOTFBMDUyMUQwMhgAAAABAgAAgQAAAAEA
					AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
					AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAA
					EAAAAAQQAABkAAAAAAAAAAUQAADQAAAAAAAA
					ABAQAAD8AAAAAAAAAEAQAADsAAAAAAAAAAIg
					AADIAQAAAAAAAAUgAAA4AQAAAAAAABAgAABI
					AQAAAAAAABEgAAB8AQAAAAAAABIgAABcAQAA
					AAAAABMgAABsAQAAAAAAACAgAACoAQAAAAAA
					ADAgAADUAQAAAAAAAAHAAAAcAQAAAAAAABHA
					AAAgAAAAAAAAABLAAAAsAQAAAAAAABDQAAAE
					AAAAAAAAAA==
					</data>
					<key>FileURL</key>
					<string>file:///Users/garyash/.config/git/allowed_signers</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>allowed_signers</string>
				<key>URL</key>
				<string>file:///Users/garyash/.config/git/allowed_signers</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-17T19:06:28Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9vaxQDAAAAAAQQMAAAAJTPGOPBhD4d5za+
					YkCMVIY2DV/voD1cXh5wQ0EvLn+wBAIAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAGdhcnlhc2gABwAAAAEBAAAuY29u
					ZmlnAAMAAAABAQAAZ2l0AAYAAAABAQAAY29u
					ZmlnAAAUAAAAAQYAABAAAAAgAAAAMAAAAEAA
					AABMAAAACAAAAAQDAABCTwAAAAAAAAgAAAAE
					AwAAIHoAAAAAAAAIAAAABAMAAMLyDgAAAAAA
					CAAAAAQDAADD8g4AAAAAAAgAAAAEAwAAmv0D
					AwAAAAAUAAAAAQYAAHgAAACIAAAAmAAAAKgA
					AAC4AAAACAAAAAAEAABBxuFg/oAAABgAAAAB
					AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
					CAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEA
					AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1h
					Y2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAI
					AAAAAAQAAEHG45qFAAAAJAAAAAEBAAA1NjVB
					NzQ5OS0zMkRGLTQ3MDctOEFDQy1DMTkxQTA1
					MjFEMDIYAAAAAQIAAIEAAAABAAAA7xMAAAEA
					AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
					BQAAGgAAAAEBAABOU1VSTERvY3VtZW50SWRl
					bnRpZmllcktleQAABAAAAAMDAAApAwAA2AAA
					AP7///8BAAAAAAAAABEAAAAEEAAAXAAAAAAA
					AAAFEAAAyAAAAAAAAAAQEAAA9AAAAAAAAABA
					EAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAA
					MAEAAAAAAAAQIAAAQAEAAAAAAAARIAAAdAEA
					AAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAA
					AAAgIAAAoAEAAAAAAAAwIAAAzAEAAAAAAAAB
					wAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAA
					JAEAAAAAAAAQ0AAABAAAAAAAAADUAQCA+AEA
					AAAAAAA=
					</data>
					<key>FileURL</key>
					<string>file:///Users/garyash/.config/git/config</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>config</string>
				<key>URL</key>
				<string>file:///Users/garyash/.config/git/config</string>
			</dict>
		</array>
	</dict>
	<key>RecentItemsPrefDataUpgradedForSandbox</key>
	<true/>
	<key>RestoreApplicationStateAtStartup</key>
	<false/>
	<key>Results Browsers</key>
	<false/>
	<key>SULastCheckedDate</key>
	<date>2025-05-16T19:49:10Z</date>
	<key>Saved Search Sets</key>
	<false/>
	<key>Search_mode</key>
	<string>Grep</string>
	<key>SelectedColorSchemeName</key>
	<string>Solarized Light</string>
	<key>SelectedColorSchemeNameDarkMode</key>
	<string>BBEdit Dark</string>
	<key>ShowFTPDotFiles</key>
	<true/>
	<key>StripTrailingWhitespace_ANSI C</key>
	<true/>
	<key>StripTrailingWhitespace_C++</key>
	<true/>
	<key>StripTrailingWhitespace_JavaScript</key>
	<true/>
	<key>StripTrailingWhitespace_Objective-C</key>
	<true/>
	<key>StripTrailingWhitespace_Objective-C++</key>
	<true/>
	<key>StripTrailingWhitespace_Python</key>
	<true/>
	<key>StripTrailingWhitespace_Ruby</key>
	<true/>
	<key>StripTrailingWhitespace_Swift</key>
	<true/>
	<key>StripTrailingWhitespace_Unix Shell Script</key>
	<true/>
	<key>UserDeclinedSandboxAccess</key>
	<true/>
	<key>WindowPosition:OpenFileByName:displays([(0, 0), (2560, 1440)])</key>
	<string>rect(548,1040,876,1520)</string>
	<key>Xcode Projects</key>
	<false/>
	<key>~3E7DB6614F745724D1215972C36C5107DE7C7322</key>
	<data>
	Xpd67myA7p6ofH/O24TIBWalwLdVJGpCpmI1pqJEOwwyWjre6dp8MjGgdcAglfRp1vAw
	twSV68vLVjuCMIML9l/Iubf7RMtN7/j/IOqBAaEm8et1fknVseynmfL8U86oVuzek5+P
	B5xhWGDX/DdgCBmsb9I5k0P/ugI/mqgaARfxUXPde7IBDry8wokcAhvz1AdrdEdTlLtl
	0F4kwm97PFoEisjKkWiQOLqX448ckkwpMRVJPzFhbWJGymcITnWjS3sXC9Jr4wMet5lr
	aKRvcZ8zNE6B7SbXRJZVCTxvVNHIrz4++glNzivJ9VGuWw1lZFmXeI8jjNb7aRS3RF1L
	4cWcXTYleC1mBjBF2Uzz9DPrI3UISZSl6zZYFc+c7Qj9OfSLT0j1uSObS+I4OApoqYrn
	/MekvOT9atEQi6dlCZaSikIxkC4K73MDH7fpMxtTgBy1P9TgQM7ItJDHWB8ExXOr6vMb
	Lml+jPsJRHsUkOOE6hb/fWN3/h4ow6CpxWssH8j/inbUZCIlpqExIVuOy3CVc80/3uQb
	dCNKmQWYdE9qZem0OCMsPTF7lUiLGX/DFwyjHpjhtHYEoVDRdorf96jdfaphmzTOXmPy
	MeIxfWBIyYwJzi4eaARWTXguZgOUH+rXewxoH9T2j5XPdiu4OxnEh5pOB7XQvQdqoEQL
	T+TqwxX2qooI5VAYewBDCd+j5syrp17FmqOrdX2Qaz67B0HUpNyFdsC1ol4GPSWOcI2H
	ZfunE4US3Dq2nmtl9WsH1Igxo/yEHuyNy7DdbHQ6aH+1CpuUlsoXxjKQtNxMFbI4hmwu
	OfspxqJXmCeZW4cd3yhdklqOah9JUOMuHH9GyDgCvI361o+4MZ1Z1LaGotMNCAq2XP3s
	hFzByUVmx90S3pgsaTRfN/aiI1AYjcZ8Q1LkmJAyRIq/n3xg+hFvy2+QGLCebOiw0oft
	2gE4VE+hDI5l7YA1nOCgGAAABdYAABBK6S4MqK29vIWrtcFCzsrDcApF5gBOLJmzSCa2
	6tiziISX11F7n70n7Ulj+fIpBiNVmAWv+8334bDgnDtIHAT/MoK7FPSMVYBfFVCY45iu
	e+tbafziumg4Jr2XE0EgRMPJv7ehesOIoMhavyy1+wbFmyJ/4N+3GJWnwuB5rrVJauO9
	9T34dHv+IEWQpjNggUDdIGZ/wKfMILSXCE4otbZTovWxnTssTEP/ywu2H/2+maob8dCi
	h2weDv1uUq40XNnAPCZS6oXt1OL2fmTAYZkCpXZeHOMWeKxjm4usqj0usIi04nFruLBx
	EX+QfwKL6KD4e6cAynJREk5EhlC/Q9DsIYs+EMf/vY7bHDcUimDRJIt/NaGvHAb2e8iG
	MpffBQuCIqGKiiqoCvx9JLIc+hbPnto7tMZpv9SIsN4wO6QPQWuy93gDhyFMmInG67sW
	WtLVyWHe48v4BVeDDLWlI6Q1ZCTxgQDZCA3TCjFbdTxxmS/lGpQfSTxlhKuoGgwRdy/Q
	ipeiBVewBhZvwGp6QHzxhd/+Sefi4iqwJ+zh1f7myZCZxtOre+PDREcoeH3w48Zol3Qb
	PsJceN+JizudKTbA2fuKUQV3V9VXM2j+C8InApVgZ2OXHcqBt8j5vGwJTSJGPj9h+/qZ
	X9mYtXievwvvNixqx4xKfgMSVKiQ45+GT9GZFPgU0Z8WzIWUmrK/vgD3mThbzmWyDs2i
	7B7mbRhmOcPg7CipDHWjSMGM0M2NFh97wYVykyWj8EjDU4SRd7QNAqoDDt+xCKQRuzrT
	PUUosgY4NRi3PWvwFa28S/2mra9ZjTNJ1Mm43ylQD2Nzjsl2Aks5OiGMQN69fGnjmIeJ
	jmPw3WH40CkSePo0lKgh0l+0uynS8eFvVhZhVYsFpnmyxjKgRHKOyxV6S7UJhcsv+RKr
	n3zXORYXAxkqaL/9nq1Ic9WOIDmqL5KqJxCjfhFXeof8T2ylwQsbA833FzzJkaSrELiz
	83iOAGl7orUSsrECkj7W
	</data>
</dict>
</plist>
